.logo-footer {
   @include flex-container($flex-direction: row);
   width: 100%;
   height: 0rem;
   background-color: rgba(108, 72, 25, 0.816);
   border-top: 5px solid darken(rgba(107, 128, 56, 0.7), 10%);
   @include media-query(small) {
      height: 16.5rem;
   }
   .logo-footer__sign {
      display: none;
      @include media-query(small) {
         display: block;
         font-size: 5rem;
         font-family: MineBold, Georgia, "Times New Roman", Times, serif;
         color: lightgray;
         text-shadow: 5px 5px #000;
      }
   }
}
